*build*
*gatemate_pack*

*~
*.bak
*.bkp
*.log

*xOLD*

*output*

#*impl*
*gwsynthesis*
*pnr*
*temp*
*.gprj.user

*\#*\#
*\#*


# Vivado project directories and files
*.jou
*.log
.Xil
*.cache
*.data
*.ipdefs
*.ip_user_files
*.runs
*.gen
