//
// Generated (version 2022.2-SP4.2<build 132111>) at Fri Sep 29 16:20:34 2023
//

module uart_rx
(
    input clk,
    input rst_n,
    input uart_rxd,
    output [7:0] uart_rx_data,
    output N4,
    output uart_rx_done
);
    wire N14;
    wire N112;
    wire N151;
    wire [15:0] N153;
    wire N160;
    wire [3:0] N161;
    wire N208;
    wire _N11;
    wire _N71;
    wire _N72;
    wire _N73;
    wire _N74;
    wire _N75;
    wire _N76;
    wire _N77;
    wire _N293;
    wire _N294;
    wire _N295;
    wire _N296;
    wire _N297;
    wire _N298;
    wire _N299;
    wire _N343;
    wire _N344;
    wire _N345;
    wire _N346;
    wire _N347;
    wire _N348;
    wire _N349;
    wire _N350;
    wire _N351;
    wire _N354;
    wire _N361;
    wire _N367;
    wire [15:0] baud_cnt;
    wire [3:0] rx_cnt;
    wire [7:0] rx_data_t;
    wire rx_flag;
    wire uart_rxd_d0;
    wire uart_rxd_d1;
    wire uart_rxd_d2;

    GTP_INV N4_vname (
            .Z (N4),
            .I (rst_n));
    // defparam N4_vname.orig_name = N4;

    GTP_LUT5 /* N14 */ #(
            .INIT(32'b00000000000010000000000000000000))
        N14_vname (
            .Z (N14),
            .I0 (N112),
            .I1 (rx_cnt[0]),
            .I2 (rx_cnt[1]),
            .I3 (rx_cnt[2]),
            .I4 (rx_cnt[3]));
    // defparam N14_vname.orig_name = N14;
	// LUT = I0&I1&~I2&~I3&I4 ;

    GTP_LUT2 /* N14_1 */ #(
            .INIT(4'b0010))
        N14_1 (
            .Z (_N295),
            .I0 (rx_cnt[0]),
            .I1 (rx_cnt[2]));
	// LUT = I0&~I1 ;

    GTP_LUT2 /* N14_2 */ #(
            .INIT(4'b0001))
        N14_2 (
            .Z (_N296),
            .I0 (rx_cnt[0]),
            .I1 (rx_cnt[2]));
	// LUT = ~I0&~I1 ;

    GTP_LUT2 /* N14_3 */ #(
            .INIT(4'b1000))
        N14_3 (
            .Z (_N297),
            .I0 (rx_cnt[0]),
            .I1 (rx_cnt[2]));
	// LUT = I0&I1 ;

    GTP_LUT2 /* N14_4 */ #(
            .INIT(4'b0100))
        N14_4 (
            .Z (_N298),
            .I0 (rx_cnt[0]),
            .I1 (rx_cnt[2]));
	// LUT = ~I0&I1 ;

    GTP_LUT2 /* N25_mux5_2 */ #(
            .INIT(4'b0111))
        N25_mux5_2 (
            .Z (_N354),
            .I0 (baud_cnt[4]),
            .I1 (baud_cnt[5]));
	// LUT = (~I1)|(~I0) ;

    GTP_LUT5 /* N25_mux5_3 */ #(
            .INIT(32'b11111111111111110000000000000001))
        N25_mux5_3 (
            .Z (_N11),
            .I0 (baud_cnt[0]),
            .I1 (baud_cnt[1]),
            .I2 (baud_cnt[2]),
            .I3 (baud_cnt[3]),
            .I4 (_N354));
	// LUT = (I4)|(~I0&~I1&~I2&~I3) ;

    GTP_LUT5CARRY /* N28_1_1 */ #(
            .INIT(32'b01100000011000000000000000000000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("FALSE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N28_1_1 (
            .COUT (_N71),
            .Z (N153[1]),
            .CIN (),
            .I0 (baud_cnt[0]),
            .I1 (baud_cnt[1]),
            .I2 (N151),
            .I3 (),
            .I4 (1'b1),
            .ID ());
	// LUT = (I0&~I1&I2)|(~I0&I1&I2) ;
	// CARRY = (1'b0) ? CIN : (I4) ;
	// ../../rtl/uart_rx.v:84

    GTP_LUT5CARRY /* N28_1_2 */ #(
            .INIT(32'b01110000100000001000100000000000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("FALSE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N28_1_2 (
            .COUT (_N72),
            .Z (N153[2]),
            .CIN (_N71),
            .I0 (baud_cnt[0]),
            .I1 (baud_cnt[1]),
            .I2 (N151),
            .I3 (baud_cnt[2]),
            .I4 (1'b0),
            .ID ());
	// LUT = (I0&I1&I2&~I3)|(~I1&I2&I3)|(~I0&I2&I3) ;
	// CARRY = (I0&I1&I3) ? CIN : (I4) ;
	// ../../rtl/uart_rx.v:84

    GTP_LUT5CARRY /* N28_1_3 */ #(
            .INIT(32'b01100000011000001100110011001100), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N28_1_3 (
            .COUT (_N73),
            .Z (N153[3]),
            .CIN (_N72),
            .I0 (),
            .I1 (baud_cnt[3]),
            .I2 (N151),
            .I3 (),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I1&I2)|(~CIN&I1&I2) ;
	// CARRY = (I1) ? CIN : (I4) ;
	// ../../rtl/uart_rx.v:84

    GTP_LUT5CARRY /* N28_1_4 */ #(
            .INIT(32'b01100000011000001100110011001100), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N28_1_4 (
            .COUT (_N74),
            .Z (N153[4]),
            .CIN (_N73),
            .I0 (),
            .I1 (baud_cnt[4]),
            .I2 (N151),
            .I3 (),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I1&I2)|(~CIN&I1&I2) ;
	// CARRY = (I1) ? CIN : (I4) ;
	// ../../rtl/uart_rx.v:84

    GTP_LUT5CARRY /* N28_1_5 */ #(
            .INIT(32'b01100000011000001100110011001100), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N28_1_5 (
            .COUT (_N75),
            .Z (N153[5]),
            .CIN (_N74),
            .I0 (),
            .I1 (baud_cnt[5]),
            .I2 (N151),
            .I3 (),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I1&I2)|(~CIN&I1&I2) ;
	// CARRY = (I1) ? CIN : (I4) ;
	// ../../rtl/uart_rx.v:84

    GTP_LUT5CARRY /* N28_1_6 */ #(
            .INIT(32'b01100000011000001100110011001100), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N28_1_6 (
            .COUT (_N76),
            .Z (N153[6]),
            .CIN (_N75),
            .I0 (),
            .I1 (baud_cnt[6]),
            .I2 (N151),
            .I3 (),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I1&I2)|(~CIN&I1&I2) ;
	// CARRY = (I1) ? CIN : (I4) ;
	// ../../rtl/uart_rx.v:84

    GTP_LUT5CARRY /* N28_1_7 */ #(
            .INIT(32'b01100000011000001100110011001100), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N28_1_7 (
            .COUT (_N77),
            .Z (N153[7]),
            .CIN (_N76),
            .I0 (),
            .I1 (baud_cnt[7]),
            .I2 (N151),
            .I3 (),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I1&I2)|(~CIN&I1&I2) ;
	// CARRY = (I1) ? CIN : (I4) ;
	// ../../rtl/uart_rx.v:84

    GTP_LUT5CARRY /* N28_1_8 */ #(
            .INIT(32'b01100000011000001100110011001100), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N28_1_8 (
            .COUT (),
            .Z (N153[8]),
            .CIN (_N77),
            .I0 (),
            .I1 (baud_cnt[8]),
            .I2 (N151),
            .I3 (),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I1&I2)|(~CIN&I1&I2) ;
	// CARRY = (I1) ? CIN : (I4) ;
	// ../../rtl/uart_rx.v:84

    GTP_LUT2 /* N112_2 */ #(
            .INIT(4'b1000))
        N112_2 (
            .Z (_N299),
            .I0 (baud_cnt[4]),
            .I1 (baud_cnt[7]));
	// LUT = I0&I1 ;

    GTP_LUT5 /* N112_13 */ #(
            .INIT(32'b00000000000000000000000100000000))
        N112_13 (
            .Z (_N367),
            .I0 (baud_cnt[0]),
            .I1 (baud_cnt[1]),
            .I2 (baud_cnt[2]),
            .I3 (baud_cnt[6]),
            .I4 (baud_cnt[8]));
	// LUT = ~I0&~I1&~I2&I3&~I4 ;

    GTP_LUT5 /* N112_14 */ #(
            .INIT(32'b00001000000000000000000000000000))
        N112_14 (
            .Z (N112),
            .I0 (baud_cnt[3]),
            .I1 (baud_cnt[4]),
            .I2 (baud_cnt[5]),
            .I3 (baud_cnt[7]),
            .I4 (_N367));
	// LUT = I0&I1&~I2&I3&I4 ;

    GTP_LUT5 /* N151 */ #(
            .INIT(32'b00101010101010100000101010101010))
        N151_vname (
            .Z (N151),
            .I0 (rx_flag),
            .I1 (baud_cnt[6]),
            .I2 (baud_cnt[7]),
            .I3 (baud_cnt[8]),
            .I4 (_N11));
    // defparam N151_vname.orig_name = N151;
	// LUT = (I0&~I3)|(I0&~I2)|(I0&~I1&I4) ;
	// ../../rtl/uart_rx.v:84

    GTP_LUT2 /* \N153[0]_1  */ #(
            .INIT(4'b0010))
        \N153[0]_1  (
            .Z (N153[0]),
            .I0 (N151),
            .I1 (baud_cnt[0]));
	// LUT = I0&~I1 ;
	// ../../rtl/uart_rx.v:79

    GTP_LUT5 /* N158_5 */ #(
            .INIT(32'b00000000000000100000000000000000))
        N158_5 (
            .Z (_N361),
            .I0 (baud_cnt[0]),
            .I1 (baud_cnt[1]),
            .I2 (baud_cnt[2]),
            .I3 (baud_cnt[3]),
            .I4 (baud_cnt[8]));
	// LUT = I0&~I1&~I2&~I3&I4 ;

    GTP_LUT5 /* N160 */ #(
            .INIT(32'b01011101010101010101010101010101))
        N160_vname (
            .Z (N160),
            .I0 (rx_flag),
            .I1 (baud_cnt[5]),
            .I2 (baud_cnt[6]),
            .I3 (_N299),
            .I4 (_N361));
    // defparam N160_vname.orig_name = N160;
	// LUT = (~I0)|(I1&~I2&I3&I4) ;
	// ../../rtl/uart_rx.v:93

    GTP_LUT2 /* \N161_1[0]_1  */ #(
            .INIT(4'b0010))
        \N161_1[0]_1  (
            .Z (N161[0]),
            .I0 (rx_flag),
            .I1 (rx_cnt[0]));
	// LUT = I0&~I1 ;
	// ../../rtl/uart_rx.v:93

    GTP_LUT3 /* \N161_1[1]_1  */ #(
            .INIT(8'b00101000))
        \N161_1[1]_1  (
            .Z (N161[1]),
            .I0 (rx_flag),
            .I1 (rx_cnt[0]),
            .I2 (rx_cnt[1]));
	// LUT = (I0&I1&~I2)|(I0&~I1&I2) ;
	// ../../rtl/uart_rx.v:93

    GTP_LUT4 /* \N161_1[2]_1  */ #(
            .INIT(16'b0010101010000000))
        \N161_1[2]_1  (
            .Z (N161[2]),
            .I0 (rx_flag),
            .I1 (rx_cnt[0]),
            .I2 (rx_cnt[1]),
            .I3 (rx_cnt[2]));
	// LUT = (I0&~I2&I3)|(I0&~I1&I3)|(I0&I1&I2&~I3) ;
	// ../../rtl/uart_rx.v:93

    GTP_LUT5 /* \N161_1[3]_1  */ #(
            .INIT(32'b00101010101010101000000000000000))
        \N161_1[3]_1  (
            .Z (N161[3]),
            .I0 (rx_flag),
            .I1 (rx_cnt[0]),
            .I2 (rx_cnt[1]),
            .I3 (rx_cnt[2]),
            .I4 (rx_cnt[3]));
	// LUT = (I0&~I3&I4)|(I0&~I2&I4)|(I0&~I1&I4)|(I0&I1&I2&I3&~I4) ;
	// ../../rtl/uart_rx.v:93

    GTP_LUT3 /* N182_1 */ #(
            .INIT(8'b00001000))
        N182_1 (
            .Z (_N293),
            .I0 (N112),
            .I1 (rx_cnt[1]),
            .I2 (rx_cnt[3]));
	// LUT = I0&I1&~I2 ;

    GTP_LUT3 /* N182_2 */ #(
            .INIT(8'b00000010))
        N182_2 (
            .Z (_N294),
            .I0 (N112),
            .I1 (rx_cnt[1]),
            .I2 (rx_cnt[3]));
	// LUT = I0&~I1&~I2 ;

    GTP_LUT5 /* N208 */ #(
            .INIT(32'b00000000000000100000000000000000))
        N208_vname (
            .Z (N208),
            .I0 (N112),
            .I1 (rx_cnt[0]),
            .I2 (rx_cnt[1]),
            .I3 (rx_cnt[2]),
            .I4 (rx_cnt[3]));
    // defparam N208_vname.orig_name = N208;
	// LUT = I0&~I1&~I2&~I3&I4 ;

    GTP_DFF_C /* \baud_cnt[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \baud_cnt[0]  (
            .Q (baud_cnt[0]),
            .C (N4),
            .CLK (clk),
            .D (N153[0]));
	// ../../rtl/uart_rx.v:79

    GTP_DFF_C /* \baud_cnt[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \baud_cnt[1]  (
            .Q (baud_cnt[1]),
            .C (N4),
            .CLK (clk),
            .D (N153[1]));
	// ../../rtl/uart_rx.v:79

    GTP_DFF_C /* \baud_cnt[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \baud_cnt[2]  (
            .Q (baud_cnt[2]),
            .C (N4),
            .CLK (clk),
            .D (N153[2]));
	// ../../rtl/uart_rx.v:79

    GTP_DFF_C /* \baud_cnt[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \baud_cnt[3]  (
            .Q (baud_cnt[3]),
            .C (N4),
            .CLK (clk),
            .D (N153[3]));
	// ../../rtl/uart_rx.v:79

    GTP_DFF_C /* \baud_cnt[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \baud_cnt[4]  (
            .Q (baud_cnt[4]),
            .C (N4),
            .CLK (clk),
            .D (N153[4]));
	// ../../rtl/uart_rx.v:79

    GTP_DFF_C /* \baud_cnt[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \baud_cnt[5]  (
            .Q (baud_cnt[5]),
            .C (N4),
            .CLK (clk),
            .D (N153[5]));
	// ../../rtl/uart_rx.v:79

    GTP_DFF_C /* \baud_cnt[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \baud_cnt[6]  (
            .Q (baud_cnt[6]),
            .C (N4),
            .CLK (clk),
            .D (N153[6]));
	// ../../rtl/uart_rx.v:79

    GTP_DFF_C /* \baud_cnt[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \baud_cnt[7]  (
            .Q (baud_cnt[7]),
            .C (N4),
            .CLK (clk),
            .D (N153[7]));
	// ../../rtl/uart_rx.v:79

    GTP_DFF_C /* \baud_cnt[8]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \baud_cnt[8]  (
            .Q (baud_cnt[8]),
            .C (N4),
            .CLK (clk),
            .D (N153[8]));
	// ../../rtl/uart_rx.v:79

    GTP_DFF_CE /* \rx_cnt[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rx_cnt[0]  (
            .Q (rx_cnt[0]),
            .C (N4),
            .CE (N160),
            .CLK (clk),
            .D (N161[0]));
	// ../../rtl/uart_rx.v:93

    GTP_DFF_CE /* \rx_cnt[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rx_cnt[1]  (
            .Q (rx_cnt[1]),
            .C (N4),
            .CE (N160),
            .CLK (clk),
            .D (N161[1]));
	// ../../rtl/uart_rx.v:93

    GTP_DFF_CE /* \rx_cnt[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rx_cnt[2]  (
            .Q (rx_cnt[2]),
            .C (N4),
            .CE (N160),
            .CLK (clk),
            .D (N161[2]));
	// ../../rtl/uart_rx.v:93

    GTP_DFF_CE /* \rx_cnt[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rx_cnt[3]  (
            .Q (rx_cnt[3]),
            .C (N4),
            .CE (N160),
            .CLK (clk),
            .D (N161[3]));
	// ../../rtl/uart_rx.v:93

    GTP_DFF_C /* \rx_data_t[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rx_data_t[0]  (
            .Q (rx_data_t[0]),
            .C (N4),
            .CLK (clk),
            .D (_N344));
	// ../../rtl/uart_rx.v:107

    GTP_DFF_C /* \rx_data_t[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rx_data_t[1]  (
            .Q (rx_data_t[1]),
            .C (N4),
            .CLK (clk),
            .D (_N351));
	// ../../rtl/uart_rx.v:107

    GTP_DFF_C /* \rx_data_t[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rx_data_t[2]  (
            .Q (rx_data_t[2]),
            .C (N4),
            .CLK (clk),
            .D (_N350));
	// ../../rtl/uart_rx.v:107

    GTP_DFF_C /* \rx_data_t[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rx_data_t[3]  (
            .Q (rx_data_t[3]),
            .C (N4),
            .CLK (clk),
            .D (_N349));
	// ../../rtl/uart_rx.v:107

    GTP_DFF_C /* \rx_data_t[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rx_data_t[4]  (
            .Q (rx_data_t[4]),
            .C (N4),
            .CLK (clk),
            .D (_N348));
	// ../../rtl/uart_rx.v:107

    GTP_DFF_C /* \rx_data_t[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rx_data_t[5]  (
            .Q (rx_data_t[5]),
            .C (N4),
            .CLK (clk),
            .D (_N347));
	// ../../rtl/uart_rx.v:107

    GTP_DFF_C /* \rx_data_t[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rx_data_t[6]  (
            .Q (rx_data_t[6]),
            .C (N4),
            .CLK (clk),
            .D (_N346));
	// ../../rtl/uart_rx.v:107

    GTP_DFF_C /* \rx_data_t[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rx_data_t[7]  (
            .Q (rx_data_t[7]),
            .C (N4),
            .CLK (clk),
            .D (_N345));
	// ../../rtl/uart_rx.v:107

    GTP_LUT5 /* \rx_data_t_ce_mux[0]  */ #(
            .INIT(32'b10001000101000001010000010100000))
        \rx_data_t_ce_mux[0]  (
            .Z (_N344),
            .I0 (rx_flag),
            .I1 (uart_rxd_d2),
            .I2 (rx_data_t[0]),
            .I3 (_N294),
            .I4 (_N295));
	// LUT = (I0&I2&~I4)|(I0&I2&~I3)|(I0&I1&I3&I4) ;

    GTP_LUT5 /* \rx_data_t_ce_mux[1]  */ #(
            .INIT(32'b10001000101000001010000010100000))
        \rx_data_t_ce_mux[1]  (
            .Z (_N351),
            .I0 (rx_flag),
            .I1 (uart_rxd_d2),
            .I2 (rx_data_t[1]),
            .I3 (_N293),
            .I4 (_N296));
	// LUT = (I0&I2&~I4)|(I0&I2&~I3)|(I0&I1&I3&I4) ;

    GTP_LUT5 /* \rx_data_t_ce_mux[2]  */ #(
            .INIT(32'b10001000101000001010000010100000))
        \rx_data_t_ce_mux[2]  (
            .Z (_N350),
            .I0 (rx_flag),
            .I1 (uart_rxd_d2),
            .I2 (rx_data_t[2]),
            .I3 (_N293),
            .I4 (_N295));
	// LUT = (I0&I2&~I4)|(I0&I2&~I3)|(I0&I1&I3&I4) ;

    GTP_LUT5 /* \rx_data_t_ce_mux[3]  */ #(
            .INIT(32'b10001000101000001010000010100000))
        \rx_data_t_ce_mux[3]  (
            .Z (_N349),
            .I0 (rx_flag),
            .I1 (uart_rxd_d2),
            .I2 (rx_data_t[3]),
            .I3 (_N294),
            .I4 (_N298));
	// LUT = (I0&I2&~I4)|(I0&I2&~I3)|(I0&I1&I3&I4) ;

    GTP_LUT5 /* \rx_data_t_ce_mux[4]  */ #(
            .INIT(32'b10001000101000001010000010100000))
        \rx_data_t_ce_mux[4]  (
            .Z (_N348),
            .I0 (rx_flag),
            .I1 (uart_rxd_d2),
            .I2 (rx_data_t[4]),
            .I3 (_N294),
            .I4 (_N297));
	// LUT = (I0&I2&~I4)|(I0&I2&~I3)|(I0&I1&I3&I4) ;

    GTP_LUT5 /* \rx_data_t_ce_mux[5]  */ #(
            .INIT(32'b10001000101000001010000010100000))
        \rx_data_t_ce_mux[5]  (
            .Z (_N347),
            .I0 (rx_flag),
            .I1 (uart_rxd_d2),
            .I2 (rx_data_t[5]),
            .I3 (_N293),
            .I4 (_N298));
	// LUT = (I0&I2&~I4)|(I0&I2&~I3)|(I0&I1&I3&I4) ;

    GTP_LUT5 /* \rx_data_t_ce_mux[6]  */ #(
            .INIT(32'b10001000101000001010000010100000))
        \rx_data_t_ce_mux[6]  (
            .Z (_N346),
            .I0 (rx_flag),
            .I1 (uart_rxd_d2),
            .I2 (rx_data_t[6]),
            .I3 (_N293),
            .I4 (_N297));
	// LUT = (I0&I2&~I4)|(I0&I2&~I3)|(I0&I1&I3&I4) ;

    GTP_LUT4 /* \rx_data_t_ce_mux[7]  */ #(
            .INIT(16'b1100010010000000))
        \rx_data_t_ce_mux[7]  (
            .Z (_N345),
            .I0 (N208),
            .I1 (rx_flag),
            .I2 (uart_rxd_d2),
            .I3 (rx_data_t[7]));
	// LUT = (~I0&I1&I3)|(I0&I1&I2) ;

    GTP_DFF_C /* rx_flag */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        rx_flag_vname (
            .Q (rx_flag),
            .C (N4),
            .CLK (clk),
            .D (_N343));
    // defparam rx_flag_vname.orig_name = rx_flag;
	// ../../rtl/uart_rx.v:66

    GTP_LUT4 /* rx_flag_ce_mux */ #(
            .INIT(16'b0100011101000100))
        rx_flag_ce_mux (
            .Z (_N343),
            .I0 (N14),
            .I1 (rx_flag),
            .I2 (uart_rxd_d1),
            .I3 (uart_rxd_d2));
	// LUT = (~I0&I1)|(~I1&~I2&I3) ;

    GTP_DFF_CE /* \uart_rx_data[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \uart_rx_data[0]  (
            .Q (uart_rx_data[0]),
            .C (N4),
            .CE (N14),
            .CLK (clk),
            .D (rx_data_t[0]));
	// ../../rtl/uart_rx.v:132

    GTP_DFF_CE /* \uart_rx_data[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \uart_rx_data[1]  (
            .Q (uart_rx_data[1]),
            .C (N4),
            .CE (N14),
            .CLK (clk),
            .D (rx_data_t[1]));
	// ../../rtl/uart_rx.v:132

    GTP_DFF_CE /* \uart_rx_data[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \uart_rx_data[2]  (
            .Q (uart_rx_data[2]),
            .C (N4),
            .CE (N14),
            .CLK (clk),
            .D (rx_data_t[2]));
	// ../../rtl/uart_rx.v:132

    GTP_DFF_CE /* \uart_rx_data[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \uart_rx_data[3]  (
            .Q (uart_rx_data[3]),
            .C (N4),
            .CE (N14),
            .CLK (clk),
            .D (rx_data_t[3]));
	// ../../rtl/uart_rx.v:132

    GTP_DFF_CE /* \uart_rx_data[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \uart_rx_data[4]  (
            .Q (uart_rx_data[4]),
            .C (N4),
            .CE (N14),
            .CLK (clk),
            .D (rx_data_t[4]));
	// ../../rtl/uart_rx.v:132

    GTP_DFF_CE /* \uart_rx_data[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \uart_rx_data[5]  (
            .Q (uart_rx_data[5]),
            .C (N4),
            .CE (N14),
            .CLK (clk),
            .D (rx_data_t[5]));
	// ../../rtl/uart_rx.v:132

    GTP_DFF_CE /* \uart_rx_data[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \uart_rx_data[6]  (
            .Q (uart_rx_data[6]),
            .C (N4),
            .CE (N14),
            .CLK (clk),
            .D (rx_data_t[6]));
	// ../../rtl/uart_rx.v:132

    GTP_DFF_CE /* \uart_rx_data[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \uart_rx_data[7]  (
            .Q (uart_rx_data[7]),
            .C (N4),
            .CE (N14),
            .CLK (clk),
            .D (rx_data_t[7]));
	// ../../rtl/uart_rx.v:132

    GTP_DFF_C /* uart_rx_done */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        uart_rx_done_vname (
            .Q (uart_rx_done),
            .C (N4),
            .CLK (clk),
            .D (N14));
    // defparam uart_rx_done_vname.orig_name = uart_rx_done;
	// ../../rtl/uart_rx.v:132

    GTP_DFF_C /* uart_rxd_d0 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        uart_rxd_d0_vname (
            .Q (uart_rxd_d0),
            .C (N4),
            .CLK (clk),
            .D (uart_rxd));
    // defparam uart_rxd_d0_vname.orig_name = uart_rxd_d0;
	// ../../rtl/uart_rx.v:52

    GTP_DFF_C /* uart_rxd_d1 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        uart_rxd_d1_vname (
            .Q (uart_rxd_d1),
            .C (N4),
            .CLK (clk),
            .D (uart_rxd_d0));
    // defparam uart_rxd_d1_vname.orig_name = uart_rxd_d1;
	// ../../rtl/uart_rx.v:52

    GTP_DFF_C /* uart_rxd_d2 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        uart_rxd_d2_vname (
            .Q (uart_rxd_d2),
            .C (N4),
            .CLK (clk),
            .D (uart_rxd_d1));
    // defparam uart_rxd_d2_vname.orig_name = uart_rxd_d2;
	// ../../rtl/uart_rx.v:52


endmodule


module uart_tx
(
    input [7:0] uart_tx_data,
    input N0,
    input clk,
    input uart_tx_en,
    output uart_txd
);
    wire N99;
    wire [7:0] N100;
    wire N106;
    wire [15:0] N108;
    wire N115;
    wire N139;
    wire _N41;
    wire _N61;
    wire _N62;
    wire _N63;
    wire _N64;
    wire _N65;
    wire _N66;
    wire _N67;
    wire _N82;
    wire _N85;
    wire _N88;
    wire _N91;
    wire _N119;
    wire _N161;
    wire _N233;
    wire _N305;
    wire _N306;
    wire _N387;
    wire _N388;
    wire [15:0] baud_cnt;
    wire [3:0] tx_cnt;
    wire [7:0] tx_data_t;
    wire uart_tx_busy;

    GTP_LUT5 /* N8_6 */ #(
            .INIT(32'b00001000000000000000000000000000))
        N8_6 (
            .Z (_N306),
            .I0 (baud_cnt[0]),
            .I1 (baud_cnt[4]),
            .I2 (baud_cnt[6]),
            .I3 (baud_cnt[7]),
            .I4 (baud_cnt[8]));
	// LUT = I0&I1&~I2&I3&I4 ;

    GTP_LUT4 /* N8_15 */ #(
            .INIT(16'b0000000000001000))
        N8_15 (
            .Z (_N387),
            .I0 (baud_cnt[1]),
            .I1 (baud_cnt[2]),
            .I2 (baud_cnt[3]),
            .I3 (tx_cnt[2]));
	// LUT = I0&I1&~I2&~I3 ;

    GTP_LUT4 /* N8_16 */ #(
            .INIT(16'b0000010000000000))
        N8_16 (
            .Z (_N388),
            .I0 (baud_cnt[5]),
            .I1 (tx_cnt[0]),
            .I2 (tx_cnt[1]),
            .I3 (tx_cnt[3]));
	// LUT = ~I0&I1&~I2&I3 ;

    GTP_LUT4 /* N23_mux5_3 */ #(
            .INIT(16'b0111111100111111))
        N23_mux5_3 (
            .Z (_N41),
            .I0 (baud_cnt[0]),
            .I1 (baud_cnt[4]),
            .I2 (baud_cnt[5]),
            .I3 (_N305));
	// LUT = (~I2)|(~I1)|(~I0&I3) ;

    GTP_LUT5CARRY /* N26_1_1 */ #(
            .INIT(32'b01100000011000000000000000000000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("FALSE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N26_1_1 (
            .COUT (_N61),
            .Z (N108[1]),
            .CIN (),
            .I0 (baud_cnt[0]),
            .I1 (baud_cnt[1]),
            .I2 (N106),
            .I3 (),
            .I4 (1'b1),
            .ID ());
	// LUT = (I0&~I1&I2)|(~I0&I1&I2) ;
	// CARRY = (1'b0) ? CIN : (I4) ;
	// ../../rtl/uart_tx.v:71

    GTP_LUT5CARRY /* N26_1_2 */ #(
            .INIT(32'b01110000100000001000100000000000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("FALSE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N26_1_2 (
            .COUT (_N62),
            .Z (N108[2]),
            .CIN (_N61),
            .I0 (baud_cnt[0]),
            .I1 (baud_cnt[1]),
            .I2 (N106),
            .I3 (baud_cnt[2]),
            .I4 (1'b0),
            .ID ());
	// LUT = (I0&I1&I2&~I3)|(~I1&I2&I3)|(~I0&I2&I3) ;
	// CARRY = (I0&I1&I3) ? CIN : (I4) ;
	// ../../rtl/uart_tx.v:71

    GTP_LUT5CARRY /* N26_1_3 */ #(
            .INIT(32'b01100000011000001100110011001100), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N26_1_3 (
            .COUT (_N63),
            .Z (N108[3]),
            .CIN (_N62),
            .I0 (),
            .I1 (baud_cnt[3]),
            .I2 (N106),
            .I3 (),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I1&I2)|(~CIN&I1&I2) ;
	// CARRY = (I1) ? CIN : (I4) ;
	// ../../rtl/uart_tx.v:71

    GTP_LUT5CARRY /* N26_1_4 */ #(
            .INIT(32'b01100000011000001100110011001100), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N26_1_4 (
            .COUT (_N64),
            .Z (N108[4]),
            .CIN (_N63),
            .I0 (),
            .I1 (baud_cnt[4]),
            .I2 (N106),
            .I3 (),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I1&I2)|(~CIN&I1&I2) ;
	// CARRY = (I1) ? CIN : (I4) ;
	// ../../rtl/uart_tx.v:71

    GTP_LUT5CARRY /* N26_1_5 */ #(
            .INIT(32'b01100000011000001100110011001100), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N26_1_5 (
            .COUT (_N65),
            .Z (N108[5]),
            .CIN (_N64),
            .I0 (),
            .I1 (baud_cnt[5]),
            .I2 (N106),
            .I3 (),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I1&I2)|(~CIN&I1&I2) ;
	// CARRY = (I1) ? CIN : (I4) ;
	// ../../rtl/uart_tx.v:71

    GTP_LUT5CARRY /* N26_1_6 */ #(
            .INIT(32'b01100000011000001100110011001100), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N26_1_6 (
            .COUT (_N66),
            .Z (N108[6]),
            .CIN (_N65),
            .I0 (),
            .I1 (baud_cnt[6]),
            .I2 (N106),
            .I3 (),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I1&I2)|(~CIN&I1&I2) ;
	// CARRY = (I1) ? CIN : (I4) ;
	// ../../rtl/uart_tx.v:71

    GTP_LUT5CARRY /* N26_1_7 */ #(
            .INIT(32'b01100000011000001100110011001100), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N26_1_7 (
            .COUT (_N67),
            .Z (N108[7]),
            .CIN (_N66),
            .I0 (),
            .I1 (baud_cnt[7]),
            .I2 (N106),
            .I3 (),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I1&I2)|(~CIN&I1&I2) ;
	// CARRY = (I1) ? CIN : (I4) ;
	// ../../rtl/uart_tx.v:71

    GTP_LUT5CARRY /* N26_1_8 */ #(
            .INIT(32'b01100000011000001100110011001100), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N26_1_8 (
            .COUT (),
            .Z (N108[8]),
            .CIN (_N67),
            .I0 (),
            .I1 (baud_cnt[8]),
            .I2 (N106),
            .I3 (),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I1&I2)|(~CIN&I1&I2) ;
	// CARRY = (I1) ? CIN : (I4) ;
	// ../../rtl/uart_tx.v:71

    GTP_LUT5M /* N65_4 */ #(
            .INIT(32'b11101110001000101110001011100010))
        N65_4 (
            .Z (_N82),
            .I0 (tx_data_t[4]),
            .I1 (tx_cnt[1]),
            .I2 (tx_data_t[5]),
            .I3 (tx_data_t[6]),
            .I4 (tx_cnt[0]),
            .ID (tx_data_t[3]));
	// LUT = (I1&I2&~I4)|(ID&~I1&~I4)|(I1&I3&I4)|(I0&~I1&I4) ;

    GTP_LUT3 /* N65_7_3 */ #(
            .INIT(8'b11111110))
        N65_7_3 (
            .Z (_N85),
            .I0 (tx_cnt[0]),
            .I1 (tx_cnt[1]),
            .I2 (tx_data_t[7]));
	// LUT = (I0)|(I1)|(I2) ;

    GTP_LUT5 /* N65_10 */ #(
            .INIT(32'b11101100101010000110010000100000))
        N65_10 (
            .Z (_N88),
            .I0 (tx_cnt[0]),
            .I1 (tx_cnt[1]),
            .I2 (tx_data_t[0]),
            .I3 (tx_data_t[1]),
            .I4 (tx_data_t[2]));
	// LUT = (I0&~I1&I2)|(~I0&I1&I3)|(I0&I1&I4) ;

    GTP_LUT4 /* N99 */ #(
            .INIT(16'b1110101010101010))
        N99_vname (
            .Z (N99),
            .I0 (uart_tx_en),
            .I1 (_N306),
            .I2 (_N387),
            .I3 (_N388));
    // defparam N99_vname.orig_name = N99;
	// LUT = (I0)|(I1&I2&I3) ;
	// ../../rtl/uart_tx.v:43

    GTP_LUT2 /* \N100[0]_1  */ #(
            .INIT(4'b1000))
        \N100[0]_1  (
            .Z (N100[0]),
            .I0 (uart_tx_en),
            .I1 (uart_tx_data[0]));
	// LUT = I0&I1 ;
	// ../../rtl/uart_tx.v:43

    GTP_LUT2 /* \N100[1]_1  */ #(
            .INIT(4'b1000))
        \N100[1]_1  (
            .Z (N100[1]),
            .I0 (uart_tx_en),
            .I1 (uart_tx_data[1]));
	// LUT = I0&I1 ;
	// ../../rtl/uart_tx.v:43

    GTP_LUT2 /* \N100[2]_1  */ #(
            .INIT(4'b1000))
        \N100[2]_1  (
            .Z (N100[2]),
            .I0 (uart_tx_en),
            .I1 (uart_tx_data[2]));
	// LUT = I0&I1 ;
	// ../../rtl/uart_tx.v:43

    GTP_LUT2 /* \N100[3]_1  */ #(
            .INIT(4'b1000))
        \N100[3]_1  (
            .Z (N100[3]),
            .I0 (uart_tx_en),
            .I1 (uart_tx_data[3]));
	// LUT = I0&I1 ;
	// ../../rtl/uart_tx.v:43

    GTP_LUT2 /* \N100[4]_1  */ #(
            .INIT(4'b1000))
        \N100[4]_1  (
            .Z (N100[4]),
            .I0 (uart_tx_en),
            .I1 (uart_tx_data[4]));
	// LUT = I0&I1 ;
	// ../../rtl/uart_tx.v:43

    GTP_LUT2 /* \N100[5]_1  */ #(
            .INIT(4'b1000))
        \N100[5]_1  (
            .Z (N100[5]),
            .I0 (uart_tx_en),
            .I1 (uart_tx_data[5]));
	// LUT = I0&I1 ;
	// ../../rtl/uart_tx.v:43

    GTP_LUT2 /* \N100[6]_1  */ #(
            .INIT(4'b1000))
        \N100[6]_1  (
            .Z (N100[6]),
            .I0 (uart_tx_en),
            .I1 (uart_tx_data[6]));
	// LUT = I0&I1 ;
	// ../../rtl/uart_tx.v:43

    GTP_LUT2 /* \N100[7]_1  */ #(
            .INIT(4'b1000))
        \N100[7]_1  (
            .Z (N100[7]),
            .I0 (uart_tx_en),
            .I1 (uart_tx_data[7]));
	// LUT = I0&I1 ;
	// ../../rtl/uart_tx.v:43

    GTP_LUT5 /* N106 */ #(
            .INIT(32'b00101010101010100000101010101010))
        N106_vname (
            .Z (N106),
            .I0 (uart_tx_busy),
            .I1 (baud_cnt[6]),
            .I2 (baud_cnt[7]),
            .I3 (baud_cnt[8]),
            .I4 (_N41));
    // defparam N106_vname.orig_name = N106;
	// LUT = (I0&~I3)|(I0&~I2)|(I0&~I1&I4) ;
	// ../../rtl/uart_tx.v:71

    GTP_LUT2 /* \N108[0]_1  */ #(
            .INIT(4'b0010))
        \N108[0]_1  (
            .Z (N108[0]),
            .I0 (N106),
            .I1 (baud_cnt[0]));
	// LUT = I0&~I1 ;
	// ../../rtl/uart_tx.v:65

    GTP_LUT3 /* N113_6 */ #(
            .INIT(8'b00000001))
        N113_6 (
            .Z (_N305),
            .I0 (baud_cnt[1]),
            .I1 (baud_cnt[2]),
            .I2 (baud_cnt[3]));
	// LUT = ~I0&~I1&~I2 ;

    GTP_LUT4 /* N115 */ #(
            .INIT(16'b1101010101010101))
        N115_vname (
            .Z (N115),
            .I0 (uart_tx_busy),
            .I1 (baud_cnt[5]),
            .I2 (_N305),
            .I3 (_N306));
    // defparam N115_vname.orig_name = N115;
	// LUT = (~I0)|(I1&I2&I3) ;
	// ../../rtl/uart_tx.v:80

    GTP_LUT5M /* N139 */ #(
            .INIT(32'b11101111111011111011111110001111))
        N139_vname (
            .Z (N139),
            .I0 (_N82),
            .I1 (tx_cnt[3]),
            .I2 (uart_tx_busy),
            .I3 (_N88),
            .I4 (tx_cnt[2]),
            .ID (_N85));
    // defparam N139_vname.orig_name = N139;
	// LUT = (~I1&I3&~I4)|(I1&I4)|(I0&I4)|(~I2)|(ID&I1) ;
	// ../../rtl/uart_tx.v:94

    GTP_DFF_C /* \baud_cnt[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \baud_cnt[0]  (
            .Q (baud_cnt[0]),
            .C (N0),
            .CLK (clk),
            .D (N108[0]));
	// ../../rtl/uart_tx.v:65

    GTP_DFF_C /* \baud_cnt[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \baud_cnt[1]  (
            .Q (baud_cnt[1]),
            .C (N0),
            .CLK (clk),
            .D (N108[1]));
	// ../../rtl/uart_tx.v:65

    GTP_DFF_C /* \baud_cnt[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \baud_cnt[2]  (
            .Q (baud_cnt[2]),
            .C (N0),
            .CLK (clk),
            .D (N108[2]));
	// ../../rtl/uart_tx.v:65

    GTP_DFF_C /* \baud_cnt[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \baud_cnt[3]  (
            .Q (baud_cnt[3]),
            .C (N0),
            .CLK (clk),
            .D (N108[3]));
	// ../../rtl/uart_tx.v:65

    GTP_DFF_C /* \baud_cnt[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \baud_cnt[4]  (
            .Q (baud_cnt[4]),
            .C (N0),
            .CLK (clk),
            .D (N108[4]));
	// ../../rtl/uart_tx.v:65

    GTP_DFF_C /* \baud_cnt[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \baud_cnt[5]  (
            .Q (baud_cnt[5]),
            .C (N0),
            .CLK (clk),
            .D (N108[5]));
	// ../../rtl/uart_tx.v:65

    GTP_DFF_C /* \baud_cnt[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \baud_cnt[6]  (
            .Q (baud_cnt[6]),
            .C (N0),
            .CLK (clk),
            .D (N108[6]));
	// ../../rtl/uart_tx.v:65

    GTP_DFF_C /* \baud_cnt[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \baud_cnt[7]  (
            .Q (baud_cnt[7]),
            .C (N0),
            .CLK (clk),
            .D (N108[7]));
	// ../../rtl/uart_tx.v:65

    GTP_DFF_C /* \baud_cnt[8]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \baud_cnt[8]  (
            .Q (baud_cnt[8]),
            .C (N0),
            .CLK (clk),
            .D (N108[8]));
	// ../../rtl/uart_tx.v:65

    GTP_DFF_CE /* \tx_cnt[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \tx_cnt[0]  (
            .Q (tx_cnt[0]),
            .C (N0),
            .CE (N115),
            .CLK (clk),
            .D (_N91));
	// ../../rtl/uart_tx.v:80

    GTP_DFF_CE /* \tx_cnt[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \tx_cnt[1]  (
            .Q (tx_cnt[1]),
            .C (N0),
            .CE (N115),
            .CLK (clk),
            .D (_N119));
	// ../../rtl/uart_tx.v:80

    GTP_DFF_CE /* \tx_cnt[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \tx_cnt[2]  (
            .Q (tx_cnt[2]),
            .C (N0),
            .CE (N115),
            .CLK (clk),
            .D (_N161));
	// ../../rtl/uart_tx.v:80

    GTP_LUT2 /* \tx_cnt[3:0]_0  */ #(
            .INIT(4'b0010))
        \tx_cnt[3:0]_0  (
            .Z (_N91),
            .I0 (uart_tx_busy),
            .I1 (tx_cnt[0]));
	// LUT = I0&~I1 ;

    GTP_LUT3 /* \tx_cnt[3:0]_15  */ #(
            .INIT(8'b00101000))
        \tx_cnt[3:0]_15  (
            .Z (_N119),
            .I0 (uart_tx_busy),
            .I1 (tx_cnt[0]),
            .I2 (tx_cnt[1]));
	// LUT = (I0&I1&~I2)|(I0&~I1&I2) ;

    GTP_LUT4 /* \tx_cnt[3:0]_29  */ #(
            .INIT(16'b0010101010000000))
        \tx_cnt[3:0]_29  (
            .Z (_N161),
            .I0 (uart_tx_busy),
            .I1 (tx_cnt[0]),
            .I2 (tx_cnt[1]),
            .I3 (tx_cnt[2]));
	// LUT = (I0&~I2&I3)|(I0&~I1&I3)|(I0&I1&I2&~I3) ;

    GTP_LUT5 /* \tx_cnt[3:0]_50  */ #(
            .INIT(32'b00101010101010101000000000000000))
        \tx_cnt[3:0]_50  (
            .Z (_N233),
            .I0 (uart_tx_busy),
            .I1 (tx_cnt[0]),
            .I2 (tx_cnt[1]),
            .I3 (tx_cnt[2]),
            .I4 (tx_cnt[3]));
	// LUT = (I0&~I3&I4)|(I0&~I2&I4)|(I0&~I1&I4)|(I0&I1&I2&I3&~I4) ;

    GTP_DFF_CE /* \tx_cnt[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \tx_cnt[3]  (
            .Q (tx_cnt[3]),
            .C (N0),
            .CE (N115),
            .CLK (clk),
            .D (_N233));
	// ../../rtl/uart_tx.v:80

    GTP_DFF_CE /* \tx_data_t[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \tx_data_t[0]  (
            .Q (tx_data_t[0]),
            .C (N0),
            .CE (N99),
            .CLK (clk),
            .D (N100[0]));
	// ../../rtl/uart_tx.v:43

    GTP_DFF_CE /* \tx_data_t[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \tx_data_t[1]  (
            .Q (tx_data_t[1]),
            .C (N0),
            .CE (N99),
            .CLK (clk),
            .D (N100[1]));
	// ../../rtl/uart_tx.v:43

    GTP_DFF_CE /* \tx_data_t[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \tx_data_t[2]  (
            .Q (tx_data_t[2]),
            .C (N0),
            .CE (N99),
            .CLK (clk),
            .D (N100[2]));
	// ../../rtl/uart_tx.v:43

    GTP_DFF_CE /* \tx_data_t[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \tx_data_t[3]  (
            .Q (tx_data_t[3]),
            .C (N0),
            .CE (N99),
            .CLK (clk),
            .D (N100[3]));
	// ../../rtl/uart_tx.v:43

    GTP_DFF_CE /* \tx_data_t[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \tx_data_t[4]  (
            .Q (tx_data_t[4]),
            .C (N0),
            .CE (N99),
            .CLK (clk),
            .D (N100[4]));
	// ../../rtl/uart_tx.v:43

    GTP_DFF_CE /* \tx_data_t[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \tx_data_t[5]  (
            .Q (tx_data_t[5]),
            .C (N0),
            .CE (N99),
            .CLK (clk),
            .D (N100[5]));
	// ../../rtl/uart_tx.v:43

    GTP_DFF_CE /* \tx_data_t[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \tx_data_t[6]  (
            .Q (tx_data_t[6]),
            .C (N0),
            .CE (N99),
            .CLK (clk),
            .D (N100[6]));
	// ../../rtl/uart_tx.v:43

    GTP_DFF_CE /* \tx_data_t[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \tx_data_t[7]  (
            .Q (tx_data_t[7]),
            .C (N0),
            .CE (N99),
            .CLK (clk),
            .D (N100[7]));
	// ../../rtl/uart_tx.v:43

    GTP_DFF_CE /* uart_tx_busy */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        uart_tx_busy_vname (
            .Q (uart_tx_busy),
            .C (N0),
            .CE (N99),
            .CLK (clk),
            .D (uart_tx_en));
    // defparam uart_tx_busy_vname.orig_name = uart_tx_busy;
	// ../../rtl/uart_tx.v:43

    GTP_DFF_P /* uart_txd */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b1))
        uart_txd_vname (
            .Q (uart_txd),
            .CLK (clk),
            .D (N139),
            .P (N0));
    // defparam uart_txd_vname.orig_name = uart_txd;
	// ../../rtl/uart_tx.v:94


endmodule


module uart_loopback
(
    input sys_clk,
    input sys_rst_n,
    input uart_rxd,
    output uart_txd
);
	// SDC constraint : (object sys_clk) (id 1000) (clock uart_loopback|sys_clk) (inferred)
    wire nt_sys_clk;
    wire nt_sys_rst_n;
    wire nt_uart_rxd;
    wire nt_uart_txd;
    wire \u_uart_rx/N4 ;
    wire [7:0] uart_rx_data;
    wire uart_rx_done;

    GTP_GRS GRS_INST (
            .GRS_N (1'b1));

(* PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="V9", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_NONE="TRUE" *)    GTP_INBUF /* sys_clk_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        sys_clk_ibuf (
            .O (nt_sys_clk),
            .I (sys_clk));
	// ../../rtl/uart_loopback.v:20

(* PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="C4", PAP_IO_VCCIO="1.8", PAP_IO_STANDARD="LVCMOS18", PAP_IO_NONE="TRUE" *)    GTP_INBUF /* sys_rst_n_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        sys_rst_n_ibuf (
            .O (nt_sys_rst_n),
            .I (sys_rst_n));
	// ../../rtl/uart_loopback.v:21

    uart_rx u_uart_rx (
            .uart_rx_data (uart_rx_data),
            .N4 (\u_uart_rx/N4 ),
            .uart_rx_done (uart_rx_done),
            .clk (nt_sys_clk),
            .rst_n (nt_sys_rst_n),
            .uart_rxd (nt_uart_rxd));
	// ../../rtl/uart_loopback.v:45

    uart_tx u_uart_tx (
            .uart_tx_data (uart_rx_data),
            .uart_txd (nt_uart_txd),
            .N0 (\u_uart_rx/N4 ),
            .clk (nt_sys_clk),
            .uart_tx_en (uart_rx_done));
	// ../../rtl/uart_loopback.v:58

(* PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="C2", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_NONE="TRUE" *)    GTP_INBUF /* uart_rxd_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        uart_rxd_ibuf (
            .O (nt_uart_rxd),
            .I (uart_rxd));
	// ../../rtl/uart_loopback.v:24

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="C1", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_DRIVE="8", PAP_IO_NONE="TRUE", PAP_IO_SLEW="SLOW" *)    GTP_OUTBUF /* uart_txd_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        uart_txd_obuf (
            .O (uart_txd),
            .I (nt_uart_txd));
	// ../../rtl/uart_loopback.v:25


endmodule

