//
// Generated (version 2022.2-SP4.2<build 132111>) at Wed Sep 13 17:43:17 2023
//

module pll_clk
(
    input clkin1,
    input pll_rst,
    output clkout0,
    output clkout1,
    output clkout2,
    output clkout3
);
    wire clkout0_2pad;
    wire clkout4;
    wire clkout5;
    wire clkswitch_flag;
    wire pll_lock;

    GTP_PLL_E3 /* u_pll_e3 */ #(
            .CLKIN_FREQ(50), 
            .PFDEN_EN("FALSE"), 
            .VCOCLK_DIV2(1'b0), 
            .DYNAMIC_RATIOI_EN("FALSE"), 
            .DYNAMIC_RATIOM_EN("FALSE"), 
            .DYNAMIC_RATIO0_EN("FALSE"), 
            .DYNAMIC_RATIO1_EN("FALSE"), 
            .DYNAMIC_RATIO2_EN("FALSE"), 
            .DYNAMIC_RATIO3_EN("FALSE"), 
            .DYNAMIC_RATIO4_EN("FALSE"), 
            .DYNAMIC_RATIOF_EN("FALSE"), 
            .STATIC_RATIOI(2), 
            .STATIC_RATIOM(1), 
            .STATIC_RATIO0(6), 
            .STATIC_RATIO1(6), 
            .STATIC_RATIO2(12), 
            .STATIC_RATIO3(24), 
            .STATIC_RATIO4(16), 
            .STATIC_RATIOF(24), 
            .DYNAMIC_DUTY0_EN("FALSE"), 
            .DYNAMIC_DUTY1_EN("FALSE"), 
            .DYNAMIC_DUTY2_EN("FALSE"), 
            .DYNAMIC_DUTY3_EN("FALSE"), 
            .DYNAMIC_DUTY4_EN("FALSE"), 
            .STATIC_DUTY0(6), 
            .STATIC_DUTY1(6), 
            .STATIC_DUTY2(12), 
            .STATIC_DUTY3(24), 
            .STATIC_DUTY4(16), 
            .STATIC_PHASE0(0), 
            .STATIC_PHASE1(0), 
            .STATIC_PHASE2(0), 
            .STATIC_PHASE3(0), 
            .STATIC_PHASE4(0), 
            .STATIC_PHASEF(0), 
            .STATIC_CPHASE0(0), 
            .STATIC_CPHASE1(3), 
            .STATIC_CPHASE2(0), 
            .STATIC_CPHASE3(0), 
            .STATIC_CPHASE4(0), 
            .STATIC_CPHASEF(0), 
            .CLK_CAS1_EN("FALSE"), 
            .CLK_CAS2_EN("FALSE"), 
            .CLK_CAS3_EN("FALSE"), 
            .CLK_CAS4_EN("FALSE"), 
            .CLKOUT5_SEL(0), 
            .CLKIN_BYPASS_EN("FALSE"), 
            .CLKOUT0_SYN_EN("FALSE"), 
            .CLKOUT0_EXT_SYN_EN("FALSE"), 
            .CLKOUT1_SYN_EN("FALSE"), 
            .CLKOUT2_SYN_EN("FALSE"), 
            .CLKOUT3_SYN_EN("FALSE"), 
            .CLKOUT4_SYN_EN("FALSE"), 
            .CLKOUT5_SYN_EN("FALSE"), 
            .INTERNAL_FB("ENABLE"), 
            .EXTERNAL_FB("DISABLE"), 
            .DYNAMIC_LOOP_EN("FALSE"), 
            .LOOP_MAPPING_EN("FALSE"), 
            .BANDWIDTH("OPTIMIZED"))
        u_pll_e3 (
            .DUTY0 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .DUTY1 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .DUTY2 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .DUTY3 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .DUTY4 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .ICP_SEL ({1'b0, 1'b0, 1'b0, 1'b0}),
            .LPFRES_SEL ({1'b0, 1'b0, 1'b0}),
            .PHASE_SEL ({1'b0, 1'b0, 1'b0}),
            .RATIO0 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIO1 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIO2 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIO3 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIO4 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIOF ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIOI ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIOM ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .CLKOUT0 (clkout0),
            .CLKOUT0_EXT (clkout0_2pad),
            .CLKOUT1 (clkout1),
            .CLKOUT2 (clkout2),
            .CLKOUT3 (clkout3),
            .CLKOUT4 (clkout4),
            .CLKOUT5 (clkout5),
            .CLKSWITCH_FLAG (clkswitch_flag),
            .LOCK (pll_lock),
            .CLKFB (1'b0),
            .CLKIN1 (clkin1),
            .CLKIN2 (1'b0),
            .CLKIN_SEL (1'b0),
            .CLKIN_SEL_EN (1'b0),
            .CLKOUT0_EXT_SYN (1'b0),
            .CLKOUT0_SYN (1'b0),
            .CLKOUT1_SYN (1'b0),
            .CLKOUT2_SYN (1'b0),
            .CLKOUT3_SYN (1'b0),
            .CLKOUT4_SYN (1'b0),
            .CLKOUT5_SYN (1'b0),
            .CRIPPLE_SEL (1'b0),
            .ICP_BASE (1'b0),
            .LOAD_PHASE (1'b0),
            .PFDEN (1'b0),
            .PHASE_DIR (1'b0),
            .PHASE_STEP_N (1'b0),
            .PLL_PWD (1'b0),
            .RST (pll_rst),
            .RSTODIV (1'b0));
	// ../ipcore/pll_clk/pll_clk.v:234


endmodule


module ip_pll
(
    input sys_clk,
    input sys_rst_n,
    output clk_25m,
    output clk_50m,
    output clk_100m,
    output clk_100m_180deg
);
	// SDC constraint : (object sys_clk) (id 1000) (clock clk) (1 : E:/PDS/ip_pll/prj/ip_pll.fdc)
    wire N0;
    wire nt_clk_25m;
    wire nt_clk_50m;
    wire nt_clk_100m;
    wire nt_clk_100m_180deg;
    wire nt_sys_clk;
    wire nt_sys_rst_n;

    GTP_GRS GRS_INST (
            .GRS_N (1'b1));

    GTP_LUT1 /* N0 */ #(
            .INIT(2'b01))
        N0_vname (
            .Z (N0),
            .I0 (nt_sys_rst_n));
    // defparam N0_vname.orig_name = N0;
	// LUT = ~I0 ;

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="R10", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_DRIVE="8", PAP_IO_NONE="TRUE", PAP_IO_SLEW="SLOW" *)    GTP_OUTBUF /* clk_25m_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        clk_25m_obuf (
            .O (clk_25m),
            .I (nt_clk_25m));
	// ../../rtl/ip_pll.v:26

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="R11", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_DRIVE="8", PAP_IO_NONE="TRUE", PAP_IO_SLEW="SLOW" *)    GTP_OUTBUF /* clk_50m_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        clk_50m_obuf (
            .O (clk_50m),
            .I (nt_clk_50m));
	// ../../rtl/ip_pll.v:25

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="T9", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_DRIVE="8", PAP_IO_NONE="TRUE", PAP_IO_SLEW="SLOW" *)    GTP_OUTBUF /* clk_100m_180deg_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        clk_100m_180deg_obuf (
            .O (clk_100m_180deg),
            .I (nt_clk_100m_180deg));
	// ../../rtl/ip_pll.v:24

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="P12", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_DRIVE="8", PAP_IO_NONE="TRUE", PAP_IO_SLEW="SLOW" *)    GTP_OUTBUF /* clk_100m_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        clk_100m_obuf (
            .O (clk_100m),
            .I (nt_clk_100m));
	// ../../rtl/ip_pll.v:23

(* PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="V9", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_NONE="TRUE" *)    GTP_INBUF /* sys_clk_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        sys_clk_ibuf (
            .O (nt_sys_clk),
            .I (sys_clk));
	// ../../rtl/ip_pll.v:20

(* PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="C4", PAP_IO_VCCIO="1.8", PAP_IO_STANDARD="LVCMOS18", PAP_IO_NONE="TRUE" *)    GTP_INBUF /* sys_rst_n_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        sys_rst_n_ibuf (
            .O (nt_sys_rst_n),
            .I (sys_rst_n));
	// ../../rtl/ip_pll.v:21

    pll_clk u_pll_clk (
            .clkout0 (nt_clk_100m),
            .clkout1 (nt_clk_100m_180deg),
            .clkout2 (nt_clk_50m),
            .clkout3 (nt_clk_25m),
            .clkin1 (nt_sys_clk),
            .pll_rst (N0));
	// ../../rtl/ip_pll.v:37


endmodule

