//
// Generated (version 2022.2-SP4.2<build 132111>) at Tue May 14 09:06:51 2024
//

module pll_clk
(
    input clkin1,
    output clkout0,
    output clkout1
);
    wire clkout0_2pad;
    wire clkout2;
    wire clkout3;
    wire clkout4;
    wire clkout5;
    wire clkswitch_flag;
    wire pll_lock;

    GTP_PLL_E3 /* u_pll_e3 */ #(
            .CLKIN_FREQ(50), 
            .PFDEN_EN("FALSE"), 
            .VCOCLK_DIV2(1'b0), 
            .DYNAMIC_RATIOI_EN("FALSE"), 
            .DYNAMIC_RATIOM_EN("FALSE"), 
            .DYNAMIC_RATIO0_EN("FALSE"), 
            .DYNAMIC_RATIO1_EN("FALSE"), 
            .DYNAMIC_RATIO2_EN("FALSE"), 
            .DYNAMIC_RATIO3_EN("FALSE"), 
            .DYNAMIC_RATIO4_EN("FALSE"), 
            .DYNAMIC_RATIOF_EN("FALSE"), 
            .STATIC_RATIOI(2), 
            .STATIC_RATIOM(1), 
            .STATIC_RATIO0(12), 
            .STATIC_RATIO1(12), 
            .STATIC_RATIO2(16), 
            .STATIC_RATIO3(16), 
            .STATIC_RATIO4(16), 
            .STATIC_RATIOF(24), 
            .DYNAMIC_DUTY0_EN("FALSE"), 
            .DYNAMIC_DUTY1_EN("FALSE"), 
            .DYNAMIC_DUTY2_EN("FALSE"), 
            .DYNAMIC_DUTY3_EN("FALSE"), 
            .DYNAMIC_DUTY4_EN("FALSE"), 
            .STATIC_DUTY0(12), 
            .STATIC_DUTY1(12), 
            .STATIC_DUTY2(16), 
            .STATIC_DUTY3(16), 
            .STATIC_DUTY4(16), 
            .STATIC_PHASE0(0), 
            .STATIC_PHASE1(0), 
            .STATIC_PHASE2(0), 
            .STATIC_PHASE3(0), 
            .STATIC_PHASE4(0), 
            .STATIC_PHASEF(0), 
            .STATIC_CPHASE0(0), 
            .STATIC_CPHASE1(6), 
            .STATIC_CPHASE2(0), 
            .STATIC_CPHASE3(0), 
            .STATIC_CPHASE4(0), 
            .STATIC_CPHASEF(0), 
            .CLK_CAS1_EN("FALSE"), 
            .CLK_CAS2_EN("FALSE"), 
            .CLK_CAS3_EN("FALSE"), 
            .CLK_CAS4_EN("FALSE"), 
            .CLKOUT5_SEL(0), 
            .CLKIN_BYPASS_EN("FALSE"), 
            .CLKOUT0_SYN_EN("FALSE"), 
            .CLKOUT0_EXT_SYN_EN("FALSE"), 
            .CLKOUT1_SYN_EN("FALSE"), 
            .CLKOUT2_SYN_EN("FALSE"), 
            .CLKOUT3_SYN_EN("FALSE"), 
            .CLKOUT4_SYN_EN("FALSE"), 
            .CLKOUT5_SYN_EN("FALSE"), 
            .INTERNAL_FB("ENABLE"), 
            .EXTERNAL_FB("DISABLE"), 
            .DYNAMIC_LOOP_EN("FALSE"), 
            .LOOP_MAPPING_EN("FALSE"), 
            .BANDWIDTH("OPTIMIZED"))
        u_pll_e3 (
            .DUTY0 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .DUTY1 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .DUTY2 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .DUTY3 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .DUTY4 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .ICP_SEL ({1'b0, 1'b0, 1'b0, 1'b0}),
            .LPFRES_SEL ({1'b0, 1'b0, 1'b0}),
            .PHASE_SEL ({1'b0, 1'b0, 1'b0}),
            .RATIO0 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIO1 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIO2 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIO3 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIO4 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIOF ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIOI ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIOM ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .CLKOUT0 (clkout0),
            .CLKOUT0_EXT (clkout0_2pad),
            .CLKOUT1 (clkout1),
            .CLKOUT2 (clkout2),
            .CLKOUT3 (clkout3),
            .CLKOUT4 (clkout4),
            .CLKOUT5 (clkout5),
            .CLKSWITCH_FLAG (clkswitch_flag),
            .LOCK (pll_lock),
            .CLKFB (1'b0),
            .CLKIN1 (clkin1),
            .CLKIN2 (1'b0),
            .CLKIN_SEL (1'b0),
            .CLKIN_SEL_EN (1'b0),
            .CLKOUT0_EXT_SYN (1'b0),
            .CLKOUT0_SYN (1'b0),
            .CLKOUT1_SYN (1'b0),
            .CLKOUT2_SYN (1'b0),
            .CLKOUT3_SYN (1'b0),
            .CLKOUT4_SYN (1'b0),
            .CLKOUT5_SYN (1'b0),
            .CRIPPLE_SEL (1'b0),
            .ICP_BASE (1'b0),
            .LOAD_PHASE (1'b0),
            .PFDEN (1'b0),
            .PHASE_DIR (1'b0),
            .PHASE_STEP_N (1'b0),
            .PLL_PWD (1'b0),
            .RST (1'b0),
            .RSTODIV (1'b0));
	// ../ipcore/pll_clk/pll_clk.v:230


endmodule


module hs_dual_ad
(
    input [9:0] ad_data_1,
    input [9:0] ad_data_2,
    input ad_otr_1,
    input ad_otr_2,
    input sys_clk,
    input sys_rst_n,
    output ad_clk_1,
    output ad_clk_2,
    output ad_oe_1,
    output ad_oe_2
);
	// SDC constraint : (object sys_clk) (id 1000) (clock sys_clk) (149 : C:/Users/VIDEO/Desktop/37_hs_dual_ad/prj/hs_dual_ad.fdc)
(* PAP_MARK_DEBUG="<0/c0/0>" *)    wire clk_50m_deg180;
    wire nt_ad_clk_2;
    wire [9:0] nt_ad_data_1;
    wire [9:0] nt_ad_data_2;
(* PAP_MARK_DEBUG="true" *)    wire nt_ad_otr_1;
(* PAP_MARK_DEBUG="true" *)    wire nt_ad_otr_2;
    wire nt_sys_clk;

    GTP_GRS GRS_INST (
            .GRS_N (1'b1));

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="L7", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_DRIVE="8", PAP_IO_PULLUP="TRUE", PAP_IO_SLEW="SLOW" *)    GTP_OUTBUF /* ad_clk_1_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        ad_clk_1_obuf (
            .O (ad_clk_1),
            .I (nt_ad_clk_2));
	// ../../rtl/hs_dual_ad.v:28

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="J3", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_DRIVE="8", PAP_IO_PULLUP="TRUE", PAP_IO_SLEW="SLOW" *)    GTP_OUTBUF /* ad_clk_2_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        ad_clk_2_obuf (
            .O (ad_clk_2),
            .I (nt_ad_clk_2));
	// ../../rtl/hs_dual_ad.v:33

(* PAP_MARK_DEBUG="true", PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="H2", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_PULLUP="TRUE" *)    GTP_INBUF /* \ad_data_1_ibuf[0]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \ad_data_1_ibuf[0]  (
            .O (nt_ad_data_1[0]),
            .I (ad_data_1[0]));
	// ../../rtl/hs_dual_ad.v:26

(* PAP_MARK_DEBUG="true", PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="H1", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_PULLUP="TRUE" *)    GTP_INBUF /* \ad_data_1_ibuf[1]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \ad_data_1_ibuf[1]  (
            .O (nt_ad_data_1[1]),
            .I (ad_data_1[1]));
	// ../../rtl/hs_dual_ad.v:26

(* PAP_MARK_DEBUG="true", PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="H7", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_PULLUP="TRUE" *)    GTP_INBUF /* \ad_data_1_ibuf[2]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \ad_data_1_ibuf[2]  (
            .O (nt_ad_data_1[2]),
            .I (ad_data_1[2]));
	// ../../rtl/hs_dual_ad.v:26

(* PAP_MARK_DEBUG="true", PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="G6", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_PULLUP="TRUE" *)    GTP_INBUF /* \ad_data_1_ibuf[3]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \ad_data_1_ibuf[3]  (
            .O (nt_ad_data_1[3]),
            .I (ad_data_1[3]));
	// ../../rtl/hs_dual_ad.v:26

(* PAP_MARK_DEBUG="true", PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="G3", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_PULLUP="TRUE" *)    GTP_INBUF /* \ad_data_1_ibuf[4]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \ad_data_1_ibuf[4]  (
            .O (nt_ad_data_1[4]),
            .I (ad_data_1[4]));
	// ../../rtl/hs_dual_ad.v:26

(* PAP_MARK_DEBUG="true", PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="G1", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_PULLUP="TRUE" *)    GTP_INBUF /* \ad_data_1_ibuf[5]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \ad_data_1_ibuf[5]  (
            .O (nt_ad_data_1[5]),
            .I (ad_data_1[5]));
	// ../../rtl/hs_dual_ad.v:26

(* PAP_MARK_DEBUG="true", PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="E3", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_PULLUP="TRUE" *)    GTP_INBUF /* \ad_data_1_ibuf[6]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \ad_data_1_ibuf[6]  (
            .O (nt_ad_data_1[6]),
            .I (ad_data_1[6]));
	// ../../rtl/hs_dual_ad.v:26

(* PAP_MARK_DEBUG="true", PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="E1", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_PULLUP="TRUE" *)    GTP_INBUF /* \ad_data_1_ibuf[7]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \ad_data_1_ibuf[7]  (
            .O (nt_ad_data_1[7]),
            .I (ad_data_1[7]));
	// ../../rtl/hs_dual_ad.v:26

(* PAP_MARK_DEBUG="true", PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="L4", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_PULLUP="TRUE" *)    GTP_INBUF /* \ad_data_1_ibuf[8]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \ad_data_1_ibuf[8]  (
            .O (nt_ad_data_1[8]),
            .I (ad_data_1[8]));
	// ../../rtl/hs_dual_ad.v:26

(* PAP_MARK_DEBUG="true", PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="L3", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_PULLUP="TRUE" *)    GTP_INBUF /* \ad_data_1_ibuf[9]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \ad_data_1_ibuf[9]  (
            .O (nt_ad_data_1[9]),
            .I (ad_data_1[9]));
	// ../../rtl/hs_dual_ad.v:26

(* PAP_MARK_DEBUG="true", PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="H4", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_PULLUP="TRUE" *)    GTP_INBUF /* \ad_data_2_ibuf[0]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \ad_data_2_ibuf[0]  (
            .O (nt_ad_data_2[0]),
            .I (ad_data_2[0]));
	// ../../rtl/hs_dual_ad.v:31

(* PAP_MARK_DEBUG="true", PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="H3", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_PULLUP="TRUE" *)    GTP_INBUF /* \ad_data_2_ibuf[1]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \ad_data_2_ibuf[1]  (
            .O (nt_ad_data_2[1]),
            .I (ad_data_2[1]));
	// ../../rtl/hs_dual_ad.v:31

(* PAP_MARK_DEBUG="true", PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="F2", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_PULLUP="TRUE" *)    GTP_INBUF /* \ad_data_2_ibuf[2]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \ad_data_2_ibuf[2]  (
            .O (nt_ad_data_2[2]),
            .I (ad_data_2[2]));
	// ../../rtl/hs_dual_ad.v:31

(* PAP_MARK_DEBUG="true", PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="F1", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_PULLUP="TRUE" *)    GTP_INBUF /* \ad_data_2_ibuf[3]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \ad_data_2_ibuf[3]  (
            .O (nt_ad_data_2[3]),
            .I (ad_data_2[3]));
	// ../../rtl/hs_dual_ad.v:31

(* PAP_MARK_DEBUG="true", PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="K2", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_PULLUP="TRUE" *)    GTP_INBUF /* \ad_data_2_ibuf[4]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \ad_data_2_ibuf[4]  (
            .O (nt_ad_data_2[4]),
            .I (ad_data_2[4]));
	// ../../rtl/hs_dual_ad.v:31

(* PAP_MARK_DEBUG="true", PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="K1", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_PULLUP="TRUE" *)    GTP_INBUF /* \ad_data_2_ibuf[5]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \ad_data_2_ibuf[5]  (
            .O (nt_ad_data_2[5]),
            .I (ad_data_2[5]));
	// ../../rtl/hs_dual_ad.v:31

(* PAP_MARK_DEBUG="true", PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="L5", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_PULLUP="TRUE" *)    GTP_INBUF /* \ad_data_2_ibuf[6]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \ad_data_2_ibuf[6]  (
            .O (nt_ad_data_2[6]),
            .I (ad_data_2[6]));
	// ../../rtl/hs_dual_ad.v:31

(* PAP_MARK_DEBUG="true", PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="K5", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_PULLUP="TRUE" *)    GTP_INBUF /* \ad_data_2_ibuf[7]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \ad_data_2_ibuf[7]  (
            .O (nt_ad_data_2[7]),
            .I (ad_data_2[7]));
	// ../../rtl/hs_dual_ad.v:31

(* PAP_MARK_DEBUG="true", PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="D2", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_PULLUP="TRUE" *)    GTP_INBUF /* \ad_data_2_ibuf[8]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \ad_data_2_ibuf[8]  (
            .O (nt_ad_data_2[8]),
            .I (ad_data_2[8]));
	// ../../rtl/hs_dual_ad.v:31

(* PAP_MARK_DEBUG="true", PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="D1", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_PULLUP="TRUE" *)    GTP_INBUF /* \ad_data_2_ibuf[9]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \ad_data_2_ibuf[9]  (
            .O (nt_ad_data_2[9]),
            .I (ad_data_2[9]));
	// ../../rtl/hs_dual_ad.v:31

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="K3", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_DRIVE="8", PAP_IO_PULLUP="TRUE", PAP_IO_SLEW="SLOW" *)    GTP_OUTBUF /* ad_oe_1_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        ad_oe_1_obuf (
            .O (ad_oe_1),
            .I (1'b0));
	// ../../rtl/hs_dual_ad.v:29

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="J6", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_DRIVE="8", PAP_IO_PULLUP="TRUE", PAP_IO_SLEW="SLOW" *)    GTP_OUTBUF /* ad_oe_2_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        ad_oe_2_obuf (
            .O (ad_oe_2),
            .I (1'b0));
	// ../../rtl/hs_dual_ad.v:34

(* PAP_MARK_DEBUG="true", PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="K4", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_PULLUP="TRUE" *)    GTP_INBUF /* ad_otr_1_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        ad_otr_1_ibuf (
            .O (nt_ad_otr_1),
            .I (ad_otr_1));
	// ../../rtl/hs_dual_ad.v:27

(* PAP_MARK_DEBUG="true", PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="J7", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_PULLUP="TRUE" *)    GTP_INBUF /* ad_otr_2_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        ad_otr_2_ibuf (
            .O (nt_ad_otr_2),
            .I (ad_otr_2));
	// ../../rtl/hs_dual_ad.v:32

(* PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="V9", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_PULLUP="TRUE" *)    GTP_INBUF /* sys_clk_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        sys_clk_ibuf (
            .O (nt_sys_clk),
            .I (sys_clk));
	// ../../rtl/hs_dual_ad.v:23

    pll_clk u_pll_clk (
            .clkout0 (nt_ad_clk_2),
            .clkout1 (clk_50m_deg180),
            .clkin1 (nt_sys_clk));
	// ../../rtl/hs_dual_ad.v:51


endmodule

